*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter{
  font-family: "font-inter",sans-serif;
  font-optical-sizing: auto;
}
/* navbar style */
.navbar-section{
  background-color:#FFFFFF ;
  display: flex;
  align-items: center;
  position: sticky;
  margin-bottom: 16px;
}
.navbar-section .navbar-container{
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu {
  display: flex;
  list-style: none;
  
}
.nav-menu a{
  text-decoration: none;
  font-size: 16px;
  font-weight:550 ;
  color: #000000;
  position: relative;
}
.nav-menu li{
  margin: 0 32px;
}
.nav-menu a:hover{
  color: #30B868;
}

.navbar-btn .btn{
  width: 164px;
  height: 44px;
  padding: 12.5px 16px;
  font-size:16px ;
  font-weight: 600;
  color:rgba(255, 255, 255, 1) ;
  background-color:#469165  ;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
}
.navbar-btn .btn:hover{
  background-color:#326849;
}

/* banner style */
  #banner{
    max-width: 1600px;
    height: 674px;
    position: relative;
    background-image: url(".//assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner .banner-content{
    max-width: 1360px;
    text-align: center;
    padding: 20px;
    
  }
  .banner-title{
    max-width: 770px;
    height: 168px;
    margin: 0 auto;
  }
  .banner-title h1{
    font-size:  72px; 
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom:16px;
  }
  .banner-content h1 .color-green{
    color:#30B868 ;
  }
  .access-btn{
    margin: 0 auto;
    max-width: 229px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    margin-bottom:16px ;
  }
  .access-btn .btn{
    color: #469165;
    text-decoration: none;
  }
  .access-btn .btn:hover{
    color:#000000 ;

  }
  .access-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .access-container .circle{
    height: 16px;
    width: 16px;
  }

  .banner-title p{
    max-width: 1360px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF ;
    margin-bottom:32px ;
  }
  .button{
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .button a{
    text-decoration: none;
    list-style: line;
    border: none;
    border-radius:4px ;
  }
  .button .start-btn{
    color:#FFFFFF ;
    font-size: 16px;
    font-weight:600 ;
    background-color: #469165;
    padding: 16px 16px;
  }
  .button .start-btn:hover{
    background-color:#326849;
  }
  
  .button .see-btn{
    width: 198px;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight:600 ;
    border: 1px solid #FFFFFF;
    padding: 16px 16px;
  }
  .button .see-btn:hover{
    color:#000000;
  }
  
  /* card style */
  #card-container{
    max-width:1600px ;
    width: 100%;
    text-align: center;
    padding-top: 64px;
  }
  #card-container .header h2{
    font-size: 48px;
    font-weight: bold;
    color:#001931 ;
    margin-bottom: 16px;
  }
  #card-container .header p{
    font-size: 16px;
    line-height: 20px;
    color:#627382 ;
    margin-bottom: 44px;
  }

  .card-section{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap:24px ;
    padding-bottom:50px ;

  }
  .card{
    max-width: 322px ;
    height: 300px;
    text-align: center;
    padding: 30px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  }
  .card .icon {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-color: #F95555;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-top: 69px;
  }
  .card .icon img{
    width: 32px;
    height: 32px;
  display: block;
  margin: 14px;
  color:#FFFFFF ;
  align-items: center;
  }
  .card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom:16px;
  }
  .card p{
    font-size: 16px;
    color: #627382;
    margin-bottom:21.5px;
  }

  /* brain section style */
  #brain{
    max-width: 1600px;
  
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  #brain .brain-content{
    max-width: 1360px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    margin: 120px;
    gap: 60px;

  }
  .brain-content .image-sec{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-image{
    max-width: 600px;
  }
  .content-section{
    max-width: 700px;
    margin: 120px 0;
    justify-content: center;
    align-items: center;
  }
  .content-section .title{
    font-size: 16px;
    font-weight: 500;
    color:#469165;
  }
  .content-section h1{
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    color:#001931 ;
    margin-bottom:16px ;
  }
  .content-section p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
  }
  .brain-list{
    list-style: none;
    text-decoration: none;
  }
  .brain-list li{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
  }
  .brain-list li::before{
    display: inline-block;
    width: 16.25px;
    height: 16.25px;
    background-image: url("./assets/CheckCircle.png");
    content: "";
    background-size: contain;
    background-position: center;
    margin-right: 8px;
  }

  /* about style */
  #about{
    max-width: 1360px;
    margin: 120px auto;
    align-items: center;
    text-align: center;
  }
  #about .about-container{
    max-width: 1280px;
    margin: 0 auto;
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
  }
  .section-heading h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
  }
  .section-heading p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom:24px ;
  }
  
  .early-btn .btn{
    color:#FFFFFF ;
    font-size: 16px;
    font-weight:600 ;
    background-color: #469165;
    padding: 16px 16px;
    border-radius:4px ;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
  }
  .early-btn .btn:hover{
    background-color:#326849; 
  }
  .early-btn p{
    font-size: 16px;
    color:#627382 ;
    margin-top: 24px;
  }

  /* footer style */
  #footer-section{
    width: 100%;
    margin-top:120px ;
    background-color: #001931;
  }
  #footer-section .footer-container{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    gap: 790px;
  }
  .social{
    text-align: right;
  }
  .social h3{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  .social .social-icon{
    display: flex;
    gap: 16px ;
  }
  .social-icon img{
    width: 20px;
    height: 20px;
    margin-bottom: 80px;
  }
  .horizontal-line{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color:#E5E7EB ;
    
  }
  .footer-disclaimer{
    margin-top:80px ;
  }
  .footer-disclaimer p{
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
  }