#{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter{
  font-family: "font-inter",sans-serif;
  font-optical-sizing: auto;
}
.navbar-section{
  background-color:#FFFFFF ;
  display: flex;
  align-items: center;
  position: sticky;
}
.navbar-section .navbar-container{
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu {
  display: flex;
  list-style: none;
  
}
.nav-menu a{
  text-decoration: none;
  font-size: 16px;
  font-weight:500 ;
  color: #000000;
  position: relative;
}
.nav-menu li{
  margin: 0 32px;
}
.nav-menu a:hover{
  color: #30B868;
}

.navbar-btn .btn{
  width: 164px;
  height: 44px;
  padding: 12.5px 16px;
  font-size:16px ;
  font-weight: 600;
  color:rgba(255, 255, 255, 1) ;
  background-color:#469165  ;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
}


